FORMAT: 1A
HOST: http://api.mango.dev

# mango

modular architecture powered by RethinkDb and GoLang

# Data Structures

## Test (object)
+ id: testid (string, required)
+ title: eleven (string, required)
+ description: cute creature from upside up (string, required)
+ created_at: `2016-10-10T08:40:51.620Z`
+ updated_at: `2016-10-10T08:40:51.620Z`

## User (object)
+ id: userid (string, required)
+ type: admin (string, required)
+ name: james vincent (string, required)
+ email: koko@mango.com (string, required)
+ password: somehashpassword (string, required)
+ created_at: `2016-10-10T08:40:51.620Z`
+ updated_at: `2016-10-10T08:40:51.620Z`

## File (object)
+ id: fileid (string, required)
+ slug: somefilehash (string, required)
+ extension: png (string, required)
+ mime: image/png (string, required)
+ size: 12 (number, required)
+ created_at: `2016-10-10T08:40:51.620Z`
+ updated_at: `2016-10-10T08:40:51.620Z`

# Group Auth
Authentication instructions

## Register [/register]

### Login [POST]
+ Request (application/json; charset=utf-8)
    + Attributes
        + name: james vincent (string, required)
        + type: admin (string, required)
        + email: test@mango.com (string, required)
        + password: admin (string, required)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (User)

## Auth [/login]

### Login [POST]
+ Request (application/json; charset=utf-8)
    + Attributes
        + email: test@mango.com (string, required)
        + password: admin (string, required)
+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + id: testid (string, required)
        + type: admin (string, required)
        + token: somejwttoken (string, required)

## Me [/me]

### Detail [GET]
+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImZiMDhkMTJkLWM3MzEtNDdiMy04ZTVkLWI5ZWFiMzU3MWRhNiIsInR5cGUiOiJhZG1pbiJ9.GIFFeL8qaKZ1y09TRckhdsabgmGL512HVlybdjZMVyY
+ Response 200 (application/json; charset=utf-8)
    + Attributes
        + id: testid (string, required)
        + type: admin (string, required)


# Group Test
Test endpoint for quick start

## Test [/test]

### List [GET]
+ Response 200 (application/json; charset=utf-8)
    + Attributes (array[Test])

### Create [POST]
+ Request (application/json; charset=utf-8)
    + Attributes (Test)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Test)

## Test Detail [/test/{id}]
### Detail [GET]
+ Parameters
    + id: `testid` (string, required)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Test)

### Update [PATCH]
+ Parameters
    + id: `testid` (string, required)
+ Request (application/json; charset=utf-8)
    + Attributes (Test)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Test)

### Remove [DELETE]
+ Parameters
    + id: `testid` (string, required)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (Test)


# Group User
Group description (also with *Markdown*)

## User [/user]

### List [GET]
+ Response 200 (application/json; charset=utf-8)
    + Attributes (array[User])

### Create [POST]
+ Request (application/json; charset=utf-8)
    + Attributes (User)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (User)

## User Detail [/user/{id}]
### Detail [GET]
+ Parameters
    + id: `userid` (string, required)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (User)

### Update [PATCH]
+ Parameters
    + id: `userid` (string, required)
+ Request (application/json; charset=utf-8)
    + Attributes (User)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (User)

### Remove [DELETE]
+ Parameters
    + id: `userid` (string, required)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (User)


# Group File
File endpoint manager

## File [/file]

### List [GET]
+ Response 200 (application/json; charset=utf-8)
    + Attributes (array[File])

### Create [POST]
+ Request (application/json; charset=utf-8)
    + Attributes (File)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (File)

## File Detail [/file/{id}]
### Detail [GET]
+ Parameters
    + id: `fileid` (string, required)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (File)

### Update [PATCH]
+ Parameters
    + id: `fileid` (string, required)
+ Request (application/json; charset=utf-8)
    + Attributes (File)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (File)

### Remove [DELETE]
+ Parameters
    + id: `fileid` (string, required)
+ Response 200 (application/json; charset=utf-8)
    + Attributes (File)
